python-dateutil~=2.8.*
pytz~=2021.*
scipy~=1.7.*
pandas~=1.4.*
numpy~=1.22.*
openpyxl~=3.0.9
holidays~=0.13.*
pytables~=3.6.*
tables~=3.6.*
pvlib<=0.8.1
keras~=2.6.*
tensorflow~=2.6.*
tensorboard~=2.6.*
th_e_core>=0.4.1
setuptools~=61.*
matplotlib~=3.5.*
seaborn~=0.11.2
